<template name="eventoItem">

  <div class="media contact">

                                <div class="media-body">
                                    <ul class="list-unstyled">
                                        <li><a href="{{pathFor 'evento_ed' _idEvento=_id}}" class="strong"> <h4 class="media-heading text-info">{{descricao}}</h4></a></li>
                                          <li> Iniciado em <b>{{dataInicio}} </b> , finalizado em <b> {{dataFim}} </b> </li>


                    </ul>
                                </div>

                                  <a class="btn btn-xs btn-success pull-right" href="{{pathFor 'evento_usuario' _idEvento=_id}}"> Adicionar Usuário</a>
                                  <a class="btn btn-xs btn-primary pull-right"  href="{{pathFor 'evento_circuito' _idEvento=_id}}"> Associar Circuito</a>
                            </div>
</template>