<template name="acao_edit">
  {{#if currentUser}} 
  <!-- col -->
	<div class="col-sm-2">

		

	</div>
	<!-- // END col -->

	<!-- col -->
	<div class="col-sm-8">

        				<!-- Widget -->
										<div class="widget widget-inverse" >

											<!-- Widget heading -->
											<div class="widget-head">
												<h4 class="heading">Editar Ação</h4>
											</div>
											<!-- // Widget heading END -->
											
											<div class="widget-body">
												
											
                                                
                                                
                                                <div class="innerLR">
                                  
                                                  
                                                    {{#autoForm collection="Acoes" id="acao_edit" doc=acaoDoc type="update"}}
                                            
                                                      {{> afQuickField name='descricao'}}
                                           
                                                      {{> afQuickField id="cbOrgao" name='orgaoId'}}
                                                     
                                                 
                                                 
                                                     <button id="btnsave" type="submit" class="btn btn-primary">Salvar</button>
                                                     <button type="reset" class="btn btn-default">Limpar</button>
                                                  {{/autoForm}}
												
                                             </div>

                                                
										
  
                                            </div>
                      
                                        </div>
    
    
   
					
    </div>

        
  <div class="col-sm-1">

		

	</div>
{{/if}}

</template>