<template name="protocoloAcaoItem">

  	<div class="innerAll border-bottom tickets">
				<ul class="media-list">
					<li class="media">
					    <a class="pull-left" href="#">
					      <a href="#" id="remove" class="btn-group pull-right btn-group-xs"><i class="fa fa-fw icon-circle-delete"></i></a>
					      						    </a>
					    <div class="media-body">


					    	<p style="word-wrap: break-word;" ><b>Acão</b> - {{acao.descricao}}</p>
                 	        <p style="word-wrap: break-word;" ><b> Orgão Responsável</b> - {{orgao.descricao}}</p>

					    	<div class="clearfix"></div>

					    						    </div>
					</li>
				</ul>

			</div>

</template>