<template name="login">

  <form id="login-form">
     

    
    
<div class="user-action user-action-btn-navbar pull-right">
      
      <div class="innerLR">
          <div class="row">
            <div class="col-xs-4 pull-lfet">
               
              </div>
            <div class="col-xs-3 pull-lfet">
                 <input id="login-username"  class="form-control" type="text" placeholder="Login" autofocus>
              </div>
            <div class="col-xs-3 pull-left">
                <input  id="login-password" type="password" class="form-control" placeholder="Senha" >
             </div>
             <div class="col-xs-2 pull-left">
                <button  style="width:90px" type="submit" class="btn btn-info">Acessar</button>
            </div>
              
              
             
        </div>
     </div>
   </div>



       
    
  
  </form>
</template>
