<template name="logout">
  <div class="user-action pull-right menu-right-hidden-xs menu-left-hidden-xs hidden-xs">
      
	     	<div class="dropdown username hidden-xs pull-left">
		       	<a class="dropdown-toggle " data-toggle="dropdown" href="#">
			    	<span class="media margin-none">
              {{#if currentUser.profile.image}}
			   		<span class="pull-left"><img src="{{currentUser.profile.image}}" alt="user" class="img-circle"></span>
              {{else}}
              	<span class="pull-left"><img src="/assets/images/user.png" alt="user" class="img-circle"></span>
              {{/if}}
			   		<span>
			     			{{nome}}  <span class="caret"></span> 
			  		</span>
			   	</span>
			</a>
			<ul class="dropdown-menu pull-right">
				<li><a id="logout">Logout</a></li>
		  </ul>
		</div>
	
 </div>

</template>