<template name="menuPerfil">
<div class="user-action pull-right menu-right-hidden-xs menu-left-hidden-xs hidden-xs">
      
	     	<div class="dropdown username hidden-xs pull-left">
		       	<a class="dropdown-toggle " data-toggle="dropdown" href="#">
			    	<span class="media margin-none">
			   		<span class="pull-left"><img src="{{avatar}}" alt="user" class="img-circle"></span>
			   		<span class="media-body">
			     			{{name}} <span class="caret"></span> 
			  		</span>
			   	</span>
			</a>
			<ul class="dropdown-menu pull-right">
				<li><a id="logout">Logout</a></li>
		  </ul>
		</div>
	
 </div>
</template>