<template name="telefone">
  {{#if currentUser}} 
  
  <!-- col -->
	<div class="col-sm-2">

		

	</div>
	<!-- // END col -->

	<!-- col -->
	<div class="col-sm-8">

		<!-- col-separator.box -->
		<div class="col-separator col-unscrollable box">
			
			<!-- col-table -->
			<div class="col-table">
				
				<h4 class="margin-none innerAll border-bottom">Fale Conosco</h4>

				<!-- col-table-row -->
				<div class="col-table-row">

					<!-- col-app -->
					<div class="col-app col-unscrollable">

						<!-- col-app -->
						<div class="col-app">



							<div class="bg-gray border-bottom innerAll">
								<div class="input-group input-group-sm">
							      	<div class="input-group-btn">
							        	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Nome <span class="caret"></span></button>
							        	
							      	</div>
							      	<input type="text" class="form-control" placeholder="O que você está procurando?">
							    </div>
							</div> 

							<div class="heading-buttons innerLR border-bottom">
								<h5 class="innerTB strong margin-none">Resultado</h5>
								<div class="pull-right innerT half">
				
								</div>
								<div class="clearfix"></div>
							</div>

														<div class="media contact">
							  	<a class="pull-left" href="#"><img class="thumb" src="http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/48/Folders-OS-Default-Metro-icon.png" width="50" alt="people"></a>
							  	<div class="media-body">
							   		<ul class="list-unstyled">
							   	 	    <li><h4 class="media-heading strong">CDEP</h4></li>
							    	    <li><i class="fa fa-phone"></i> (71) 3116-1425 </li>
							    	   
									   
                                    </ul>
							  	</div>
							</div>
														<div class="media contact">
							  	<a class="pull-left" href="#"><img class="thumb" src="http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/48/Folders-OS-Default-Metro-icon.png" width="50" alt="people"></a>
							  	<div class="media-body">
							   		<ul class="list-unstyled">
							   	 	    <li><h4 class="media-heading strong">SI/SSP </h4></li>
							    	    <li><i class="fa fa-phone"></i> (71) 3118-6685 </li>
							    	    
									   
                                    </ul>
							  	</div>
							</div>
														<div class="media contact">
							  	<a class="pull-left" href="#"><img class="thumb" src="http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/48/Folders-OS-Default-Metro-icon.png" width="50" alt="people"></a>
							  	<div class="media-body">
							   		<ul class="list-unstyled">
							   	 	    <li><h4 class="media-heading strong">GERÊNTE DE OPERAÇÕES </h4></li>
							    	    <li><i class="fa fa-phone"></i>  (71) 3118-6675 </li>
							    	    
									  
                                    </ul>
							  	</div>
							</div>
														<div class="media contact">
							  	<a class="pull-left" href="#"><img class="thumb" src="http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/48/Folders-OS-Default-Metro-icon.png" width="50" alt="people"></a>
							  	<div class="media-body">
							   		<ul class="list-unstyled">
							   	 	    <li><h4 class="media-heading strong">DETRAN </h4></li>
							    	    <li><i class="fa fa-phone"></i>  (71) 3118-6684 </li>
							    	    
									   
                                    </ul>
							  	</div>
							</div>
														<div class="media contact">
							  	<a class="pull-left" href="#"><img class="thumb" src="http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/48/Folders-OS-Default-Metro-icon.png" width="50" alt="people"></a>
							  	<div class="media-body">
							   		<ul class="list-unstyled">
							   	 	    <li><h4 class="media-heading strong">POLÍCIA RODOVIÁRIA FEDERAL</h4></li>
							    	    <li><i class="fa fa-phone"></i> (71) 3118-6684 </li>
							    	    
									    
                                    </ul>
							  	</div>
							</div>
														<div class="media contact">
							  	<a class="pull-left" href="#"><img class="thumb" src="http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/48/Folders-OS-Default-Metro-icon.png" width="50" alt="people"></a>
							  	<div class="media-body">
							   		<ul class="list-unstyled">
							   	 	    <li><h4 class="media-heading strong">AERONAÚTICA - MARINHA - EXÉRCITO</h4></li>
							    	    <li><i class="fa fa-phone"></i> (71) 3118-6682 </li>
							    	    
									    
                                    </ul>
							  	</div>
							</div>
														<div class="media contact">
							  	<a class="pull-left" href="#"><img class="thumb" src="http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/48/Folders-OS-Default-Metro-icon.png" width="50" alt="people"></a>
							  	<div class="media-body">
							   		<ul class="list-unstyled">
							   	 	    <li><h4 class="media-heading strong">TRÂNSITO - GMS - SEMOP</h4></li>
							    	    <li><i class="fa fa-phone"></i> (71) 3116-6673</li>
							    	  
									   
                                    </ul>
							  	</div>
							</div>
														<div class="media contact">
							  	<a class="pull-left" href="#"><img class="thumb" src="http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/48/Folders-OS-Default-Metro-icon.png" width="50" alt="people"></a>
							  	<div class="media-body">
							   		<ul class="list-unstyled">
							   	 	    <li><h4 class="media-heading strong">SETUR - SALTUR</h4></li>
							    	    <li><i class="fa fa-phone"></i> (71) 3118-6681 </li>
							    	   
									    
                                    </ul>
							  	</div>
							</div>
														<div class="media contact">
							  	<a class="pull-left" href="#"><img class="thumb" src="http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/48/Folders-OS-Default-Metro-icon.png" width="50" alt="people"></a>
							  	<div class="media-body">
							   		<ul class="list-unstyled">
							   	 	    <li><h4 class="media-heading strong">CMG - DIP/SSP - CME/PMBA</h4></li>
							    	    <li><i class="fa fa-phone"></i> (71) 3118-6653 </li>
							    	    
									   
                                    </ul>
							  	</div>
							</div>
											
              <div class="media contact">
							  	<a class="pull-left" href="#"><img class="thumb" src="http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/48/Folders-OS-Default-Metro-icon.png" width="50" alt="people"></a>
							  	<div class="media-body">
							   		<ul class="list-unstyled">
							   	 	    <li><h4 class="media-heading strong">SEAP - POLÍCIA FEDERAL</h4></li>
							    	    <li><i class="fa fa-phone"></i> (71) 3118-6667 </li>
							    	    
									   
                                    </ul>
							  	</div>
							</div>
              
              <div class="media contact">
							  	<a class="pull-left" href="#"><img class="thumb" src="http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/48/Folders-OS-Default-Metro-icon.png" width="50" alt="people"></a>
							  	<div class="media-body">
							   		<ul class="list-unstyled">
							   	 	    <li><h4 class="media-heading strong">EMPRESA OI</h4></li>
							    	    <li><i class="fa fa-phone"></i> (71) 3118-6671 </li>
							    	    
									   
                                    </ul>
							  	</div>
							</div>
              
              <div class="media contact">
							  	<a class="pull-left" href="#"><img class="thumb" src="http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/48/Folders-OS-Default-Metro-icon.png" width="50" alt="people"></a>
							  	<div class="media-body">
							   		<ul class="list-unstyled">
							   	 	    <li><h4 class="media-heading strong">CÂMERAS VIATURA - PMBA - CBM</h4></li>
							    	    <li><i class="fa fa-phone"></i> (71) 3118-6668 </li>
							    	    
									   
                                    </ul>
							  	</div>
							</div>
              
              <div class="media contact">
							  	<a class="pull-left" href="#"><img class="thumb" src="http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/48/Folders-OS-Default-Metro-icon.png" width="50" alt="people"></a>
							  	<div class="media-body">
							   		<ul class="list-unstyled">
							   	 	    <li><h4 class="media-heading strong">PCBA - DPT</h4></li>
							    	    <li><i class="fa fa-phone"></i> (71) 3118-6678 </li>
							    	    
									   
                                    </ul>
							  	</div>
							</div>
              
              <div class="media contact">
							  	<a class="pull-left" href="#"><img class="thumb" src="http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/48/Folders-OS-Default-Metro-icon.png" width="50" alt="people"></a>
							  	<div class="media-body">
							   		<ul class="list-unstyled">
							   	 	    <li><h4 class="media-heading strong">SMS - SESAB</h4></li>
							    	    <li><i class="fa fa-phone"></i> (71) 3118-6680 </li>
							    	    
									   
                                    </ul>
							  	</div>
							</div>
              
              <div class="media contact">
							  	<a class="pull-left" href="#"><img class="thumb" src="http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/48/Folders-OS-Default-Metro-icon.png" width="50" alt="people"></a>
							  	<div class="media-body">
							   		<ul class="list-unstyled">
							   	 	    <li><h4 class="media-heading strong">SAMU - SUDEC</h4></li>
							    	    <li><i class="fa fa-phone"></i> (71) 3118-6690 </li>
							    	    
									   
                                    </ul>
							  	</div>
							</div>
              
              <div class="media contact">
							  	<a class="pull-left" href="#"><img class="thumb" src="http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/48/Folders-OS-Default-Metro-icon.png" width="50" alt="people"></a>
							  	<div class="media-body">
							   		<ul class="list-unstyled">
							   	 	    <li><h4 class="media-heading strong">CCR METRÔ - OUVIDORIA</h4></li>
							    	    <li><i class="fa fa-phone"></i> (71) 3118-6689 </li>
							    	    
									   
                                    </ul>
							  	</div>
							</div>
              
              <div class="media contact">
							  	<a class="pull-left" href="#"><img class="thumb" src="http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/48/Folders-OS-Default-Metro-icon.png" width="50" alt="people"></a>
							  	<div class="media-body">
							   		<ul class="list-unstyled">
							   	 	    <li><h4 class="media-heading strong">1ªVARA INFÂNCIA/ JUVENTUDE - 2ªVARA INFÂNCIA/ JUVENTUDE</h4></li>
							    	    <li><i class="fa fa-phone"></i> (71) 3118-6687 </li>
							    	    
									   
                                    </ul>
							  	</div>
							</div>
              
              <div class="media contact">
							  	<a class="pull-left" href="#"><img class="thumb" src="http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/48/Folders-OS-Default-Metro-icon.png" width="50" alt="people"></a>
							  	<div class="media-body">
							   		<ul class="list-unstyled">
							   	 	    <li><h4 class="media-heading strong">EMBASA - COELBA </h4></li>
							    	    <li><i class="fa fa-phone"></i> (71) 3118-6666 </li>
							    	    
									   
                                    </ul>
							  	</div>
							</div>
              
              <div class="media contact">
							  	<a class="pull-left" href="#"><img class="thumb" src="http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/48/Folders-OS-Default-Metro-icon.png" width="50" alt="people"></a>
							  	<div class="media-body">
							   		<ul class="list-unstyled">
							   	 	    <li><h4 class="media-heading strong">IMAGEADOR</h4></li>
							    	    <li><i class="fa fa-phone"></i> (71) 3118-6677 </li>
							    	    
									   
                                    </ul>
							  	</div>
							</div>
              
              <div class="media contact">
							  	<a class="pull-left" href="#"><img class="thumb" src="http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/48/Folders-OS-Default-Metro-icon.png" width="50" alt="people"></a>
							  	<div class="media-body">
							   		<ul class="list-unstyled">
							   	 	    <li><h4 class="media-heading strong">OPERADOR DE CÂMERAS - CÂMERAS SESGE/MJ</h4></li>
							    	    <li><i class="fa fa-phone"></i> (71) 3118-6693 </li>
							    	    
									   
                                    </ul>
							  	</div>
							</div>
              
              <div class="media contact">
							  	<a class="pull-left" href="#"><img class="thumb" src="http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/48/Folders-OS-Default-Metro-icon.png" width="50" alt="people"></a>
							  	<div class="media-body">
							   		<ul class="list-unstyled">
							   	 	    <li><h4 class="media-heading strong">SUPERVISOR DE OPERAÇÕES</h4></li>
							    	    <li><i class="fa fa-phone"></i> (71) 3118-6672 </li>
							    	    
									   
                                    </ul>
							  	</div>
							</div>
              
              <div class="media contact">
							  	<a class="pull-left" href="#"><img class="thumb" src="http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/48/Folders-OS-Default-Metro-icon.png" width="50" alt="people"></a>
							  	<div class="media-body">
							   		<ul class="list-unstyled">
							   	 	    <li><h4 class="media-heading strong">OPERADOR DE CÂMERAS</h4></li>
							    	    <li><i class="fa fa-phone"></i> (71) 3118-6691 </li>
							    	    
									   
                                    </ul>
							  	</div>
							</div>
              
              <div class="media contact">
							  	<a class="pull-left" href="#"><img class="thumb" src="http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/48/Folders-OS-Default-Metro-icon.png" width="50" alt="people"></a>
							  	<div class="media-body">
							   		<ul class="list-unstyled">
							   	 	    <li><h4 class="media-heading strong">SALA DE IMPRENSA</h4></li>
							    	    <li><i class="fa fa-phone"></i> (71) 3118-6654 / 6679 </li>
							    	    
									   
                                    </ul>
							  	</div>
							</div>
              
						</div>
						<!-- // END col-app -->

					</div>
					<!-- // END col-app.col-unscrollable -->

				</div>
				<!-- // END col-table-row -->
			
		
                
                </div>
			<!-- // END col-table -->
			
		</div>
		<!-- // END col-separator.box -->

	</div>
	<!-- // END col -->
    
    <div class="col-sm-2">

		

	</div>

  {{/if}}
  
</template>