<template name="telefone_cr">


{{#if currentUser}}
    <div class="col-sm-2">



    </div>
    <!-- // END col -->

    <!-- col -->
    <div class="col-sm-8">

                        <!-- Widget -->
                                        <div class="widget widget-inverse" >

                                            <!-- Widget heading -->
                                            <div class="widget-head">
                                                <h4 class="heading">Novo Telefone</h4>
                                            </div>
                                            <!-- // Widget heading END -->

                                            <div class="widget-body">




                                                <div class="innerLR">


                                                    {{#autoForm collection="Telefones" id="telefone_cr" schema=telefoneSchema type="method" meteormethod="saveTelefone"}}

                                                      {{> afQuickField name='orgao'}}

                                                      {{> afQuickField name='numero' placeholder="Ex: (555) 5555-5555"}}


                                                     <button type="submit" class="btn btn-primary">Salvar</button>
                                                     <button type="reset" class="btn btn-default">Limpar</button>
                                                  {{/autoForm}}
                                             </div>




                                            </div>
                                        </div>

    </div>





    <!-- // END col -->

    <div class="col-sm-2">



    </div>
{{/if}}
</template>