<template name="telefone_ls">
  {{#if currentUser}}

  <!-- col -->
	<div class="col-sm-2">



	</div>
	<!-- // END col -->

	<!-- col -->
	<div class="col-sm-8">

		<!-- col-separator.box -->
		<div class="col-separator col-unscrollable box">

			<!-- col-table -->
			<div class="col-table">


		<div class="innerAll">

 {{#if isInRole 'Administrativo' }}
					<a id="new-telefone" href="{{pathFor 'new_telefone'}}" class="btn btn-xs pull-right btn-primary"><i class="fa fa-plus fa-fw"></i> Novo Telefone</a>
        {{/if}}
        	<h4 class="margin-none" >Fale Conosco</h4>
				<!-- col-table-row -->
				</div>
				<div class="col-table-row">

					<!-- col-app -->
					<div class="col-app col-unscrollable">

						<!-- col-app -->
						<div class="col-app">



							<div class="bg-gray border-bottom innerAll">
								<div class="input-group input-group-sm">
							      	<div class="input-group-btn">
							        	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Nome <span class="caret"></span></button>

							      	</div>
							       {{> esInput index="telefones"  reactive=false timeout=20  placeholder="Encontre um telefone ..." class="form-control input-sm" }}
							    </div>
							</div>

							<div class="heading-buttons innerLR border-bottom">
								<h5 class="innerTB strong margin-none">Resultado</h5>
								<div class="pull-right innerT half">

								</div>
								<div class="clearfix"></div>
							</div>




                     	{{#ifEsInputIsEmpty index="telefones"}}

						       {{#each telefones}}
                                {{>telefoneItem}}
                            {{/each}}


                       {{/ifEsInputIsEmpty}}


								 {{#esEach  index="telefones"}}
                               {{>telefoneItem}}

                           {{/esEach }}
                   {{#ifEsHasNoResults index="telefones"}}
                          {{>resultadonf}}
                    {{/ifEsHasNoResults}}
						</div>
						<!-- // END col-app -->

					</div>
					<!-- // END col-app.col-unscrollable -->

				</div>
				<!-- // END col-table-row -->



                </div>
			<!-- // END col-table -->

		</div>
		<!-- // END col-separator.box -->

	</div>
	<!-- // END col -->

    <div class="col-sm-2">



	</div>

  {{/if}}

</template>