<template name="eventoCircuitoItem">

    <div class="innerAll border-bottom tickets">
                <ul class="media-list">
                    <li class="media">

                          <a href="#" id="remove" class="btn-group pull-right btn-group-xs"><i class="fa fa-fw icon-circle-delete"></i></a>

                        <div class="media-body">


                            <p style="word-wrap: break-word;" >{{circuito.descricao}}</p>


                            <div class="clearfix"></div>

                                                    </div>
                    </li>
                </ul>

            </div>

</template>