<template name="menuMonitoramento">
<div class="col-separator col-separator-first hasNiceScroll" tabindex="5000" style="overflow-y: hidden; outline: none;">

			<h5 class="innerAll bg-gray margin-none">Videomonitoramento</h5>
			<ul class="list-group list-group-1 margin-none borders-none">
				<li class="list-group-item animated fadeInUp"><a href="{{pathFor 'validacao'}}"><span class="badge pull-right badge-default hidden-md">15</span> Em aberto</a></li>
				<li class="list-group-item animated fadeInUp"><a href="{{pathFor 'noticia_publicada'}}"><span class="badge pull-right badge-default hidden-md">10</span> Observadas</a></li>
				
			</ul>


		</div>
  
 
  
</template>