<template name="respostaItem">
  
  	<div class="innerAll border-bottom tickets">
				<ul class="media-list">
					<li class="media">
					    <a class="pull-left" href="#">
					      						      	<img class="media-object" src="{{logo.url}}" alt="...">
					      						    </a>
					    <div class="media-body">
					    	
					    	<small>Respondida por <a href="" class="text-primary strong"> {{user.profile.nome}}</a> <i class="icon-time-clock fw"></i> {{data}}</small>
					    	<p style="word-wrap: break-word;" >{{mensagem}}</p>
					    	<div class="clearfix"></div>

					    						    </div>
					</li>
				</ul>
				
			</div>
			
</template>