<template name="consideracaoItem">
<div class="innerAll border-bottom tickets">
				<ul class="media-list">
					<li class="media">
					    <a class="pull-left" href="#">
					      						      	<img class="media-object" src="{{logo.url}}"  width="50" height="50" >
					      						    </a>
					    <div class="media-body">
					    	
					    	<small><a href="" class="text-primary strong"> {{user.profile.nome}}</a> <i class="icon-time-clock fw"></i> {{data}}</small>
					    	<p style="word-wrap: break-word;" >{{descricao}}</p>
					    	<div class="clearfix"></div>

					    						    </div>
					</li>
				</ul>
				
			</div>
 </template>