<template name="menuBloqueio">
<div class="col-separator col-separator-first hasNiceScroll" tabindex="5000" style="overflow-y: hidden; outline: none;">

			<h4 class="innerAll bg-gray margin-none">Ações</h4>
			<ul class="list-group list-group-1 margin-none borders-none">
				<li class="list-group-item animated fadeInUp"><a href="{{pathFor 'view_n_pv' _idNoticia =noticia}}"> Visualizar</a></li>
				<li class="list-group-item animated fadeInUp"><a href="{{pathFor 'noticia_vt' _idNoticia= noticia}}">Validar</a></li>
				
			</ul>


		</div>
 
  
</template>