<template name="news">
              
    {{#if currentUser}}  

  
   {{else}}   
<div id="scroll-notice-pb" class="col-app hasNiceScroll" tabindex="5000" style="overflow-y: hidden; outline: none;">

			<div class="innerAll">

							
								
					
								<div class="row separator bottom">
								{{#ifEsInputIsEmpty index="noticias"}}
                       
								 {{#each noticiasPublicas}}
                             {{>noticiaPublicaItem}}
                        {{/each}}
            
							
                {{/ifEsInputIsEmpty}}

						{{#ifEsIsSearching index="noticias"}}
               <div id="showMoreResults" class="innerAll">
                    <svg  id="loading" class="icon-loading" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                    <path opacity=".25" d="M16 0 A16 16 0 0 0 16 32 A16 16 0 0 0 16 0 M16 4 A12 12 0 0 1 16 28 A12 12 0 0 1 16 4"/>
                    <path d="M16 0 A16 16 0 0 1 32 16 L28 16 A12 12 0 0 0 16 4z">
                      <animateTransform attributeName="transform"          type="rotate" from="0 16 16" to="360 16 16" dur=".8s" repeatCount="indefinite" />
                    </path>
                  </svg>
                </div>
             {{else}}
				      {{#esEach  index="noticias"}}
                        {{>noticiaPublicaItem}}
   
                   {{/esEach }}
              {{> esLoadMoreButton index="noticias"}}
    {{/ifEsIsSearching}}                 
                           
                   {{#ifEsHasNoResults index="noticias"}}
                          {{>resultadonf}}
                    {{/ifEsHasNoResults}}
            
							
								</div>
  	

							
									
				</div>
								<!-- // innerAll -->

</div>

						
{{/if}}

</template>                
