<template name="incidenteItem">
  
  	<li>
      <a href="{{pathFor 'inci_detail' _idIncidente=this._id}}"  class="thumbnail" >
    <div class="caption">
		<i class="list-icon fa fa-asterisk"></i>
		<div class="block block-inline">
			<div class="caret"></div>
			<div class="box-generic" style="width:650px">
        <div class="innerT pull-right">
        {{#if isInRole 'Administrativo'}} 
       
        
																		<a href="{{pathFor 'noticia_exp' _idIncidente=this._id}}" class="btn btn-success btn-xs"><i class="fa fa-plus"></i> Gerar Notícia</a>
            

      
         
        {{/if}}
          </div>
				<div class="timeline-top-info">
					<i class="fa fa-info"></i> 	
					<a href="{{pathFor 'inci_detail' _idIncidente=this._id}}" class="text-primary"><i class="text-primary"></i> {{tituloIncidente}}</a>
				</div>
        
				<div class="media margin-none">
             
					<div class="row innerLR innerB">
         
            
						<div class="col-sm-1 col-lg-1">
              
																	
																
							<div class="innerT">
							 	<a class="pull-left" href="#"><img class="thumb" src="{{logo.url}}" width="50" height="50" ></a>
							</div>
						</div>
						<div class="col-sm-10 col-lg-9">
							<div class="innerT">
								<p style="word-wrap: break-word;" >{{descricaoResumida}}</p>
							
							</div>
						</div>
					</div>
				</div>		
			</div>
			<div class="timeline-bottom innerT half">
				 <span class="innerL"><i class="fa fa-calendar fa-fw"></i> {{data}}</span>
			</div>
		</div>
      	</div>
      </a>
	</li>
</template>