<template name="incidente_dt"> 
  {{#if currentUser}} 
    <!-- col -->
	<div class="col-sm-2">
  {{#if isInRole 'Administrativo'}} 
     {{#if status}}
            <button id="btnFechar" style="margin-left:30px;margin-top:20px" class="btn btn-danger" href="javascript:void(0)">Fechar Incidente </button>
       {{else}}
             <button id="btnReabrir" style="margin-left:30px;margin-top:20px" class="btn btn-success" href="javascript:void(0)">Reabrir Incidente </button>
     {{/if}}
      
       <button id="btnExcluir" style="margin-left:30px;margin-top:30px" class="btn btn-info" href="javascript:void(0)">Excluir Incidente </button>
{{/if}}
	</div>
<div id="conteudo" class="col-md-8">
<form id="incidente-dt-form">
	<div class="col-separator hasNiceScroll" tabindex="5001" style="overflow-y: hidden; outline: none;">

			<div class="innerAll border-bottom media">
				<a class="pull-left" href="#"><img src="{{logo.url}}"  width="50" height="50"></a>
				<div class="media-body">
					<h4 class="margin-bottom-none padding-none">{{tituloIncidente}}
					</h4>
        	<div class="innerAll">
				
				
			   </div>
					<span class="text-muted-dark">Enviado por <a href="">{{user.profile.nome}}</a> <i class="icon-time-clock fa fa-fw"></i> {{data}}</span>
         
               
				</div>
            <span  style="margin-left: 69px;" class="text-muted-dark"> Circuito: {{circuito.descricao}} - Trecho: {{trecho.descricao}}</span>
			</div>

    {{#if imagem}}    
       
            <div class="innerAll inner-2x">
              <img  width="70%" height="70%"  id="foto-incidente"  src="{{imagem.url}}"/> 
            </div>
      
    {{/if}}
			<div class="innerAll inner-2x">
				<p style="word-wrap: break-word;" >{{descricaoIncidente}}</p>
				
				
			</div>
    {{#if status}}
     {{#if isInRole 'Administrativo,Cadastro' }}	
			<div class="border-top border-bottom text-center innerAll bg-gray">
				<a href="#write" data-toggle="collapse" class="btn btn-primary strong btn-sm collapsed">Ação <i class="icon-compose fa fa-fw"></i></a>
			</div>

			<div class="collapse" id="write" style="height: 0px;">
				<div class="innerAll bg-gray inner-2x border-bottom">
					<textarea style="background: gainsboro;" name="acao" id="inputMensagem" class="notebook border-none form-control padding-none" rows="3" required></textarea>
					<div class="text-right innerT">
						<button class="btn btn-success">Salvar</button>
					</div>
				</div>
			</div>
    {{/if}}
    {{/if}}

			
			
			<div class="innerAll border-bottom tickets">
				
				
			</div>
			
			 {{#each acoesOrgao}}
                      {{>acaoItem}}
       {{/each}}
		</div>
  </form>
	</div>
    <!-- col -->
	<div class="col-sm-2">

		

	</div>

{{/if}}
</template>