<template name="incidente_cr">
 {{#if currentUser}}
    <!-- col -->
	<div class="col-sm-2">



	</div>
	<div class="col-sm-8">

        				<!-- Widget -->
										<div class="widget widget-inverse" >

											<!-- Widget heading -->
											<div class="widget-head">
												<h4 class="heading">Novo Incidente</h4>
											</div>
											<!-- // Widget heading END -->

											<div class="widget-body">




                                                <div class="innerLR">
													<form id="incidente-form" class="form-horizontal">


                                 <div class="form-group">
                                        <label for="dataFato" class="col-sm-2 control-label">Data do Fato :</label>
                                 <div class="col-sm-3">
                                       <input  data-date-format="DD/MM/YYYY HH:mm" type="bootstrap-datetimepicker" class="form-control" id="dataFato" name="dataFato" required>
                                 </div>
                     </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">Evento :</label>
                                                              <div class="col-sm-10">
                                                       {{ > selectEvento}}
                                                              </div>

                                                        </div>
                                                  {{#if temCircuito}}
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">Circuito :</label>
                                                                 <div class="col-sm-10">

                                                                 {{ > selectValueCircuito}}

                                                                    </div>


                                                         </div>


                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">Trecho :</label>
                                                                 <div class="col-sm-10">


                                                                      {{ > selectTrecho}}

                                                                    </div>


                                                         </div>

{{/if}}

                                    <div class="form-group">
                                <label for="inputTitulo" class="col-sm-2 control-label">Título :</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputTitulo" name="titulo" >
                               </div>
                    </div>

                            <div class="form-group">
                                                       <label for="inputDescricao" class="col-sm-2 control-label">Descrição :</label>
                                                            <div class="col-sm-10">
                                                               <textarea name="descricao" id="inputDescricao" class="wysihtml5 form-control" rows="5"></textarea>
                                                            </div>
                                                        </div>



                                                        <div class="form-group">


                                                 <div class="col-sm-5" style="margin-left: 130px;">

                                                           <label class="control-label" >Deseja associar algum protocolo?</label>

                                                          <div class="af-radio-group" data-schema-key="status">

                                                            <label class="radio-inline">
                                                              <input type="radio" value="sim" name="status">
                                                              Sim
                                                            </label>

                                                            <label class="radio-inline">
                                                              <input type="radio" value="nao" name="status" checked>
                                                              Não
                                                            </label>

                                                          </div>
                                                 </div>
                                                 </div>
                                              {{#if associaProtocolo}}

                                         <div class="form-group">
                                                            <label class="col-sm-2 control-label">Protocolo :</label>
                                                                 <div class="col-sm-10">


                                                                      {{ > selectProtocolo}}

                                                                    </div>


                                           </div>
                       {{#if acoes}}
                                           <div class="form-group">
                                          <div class="col-sm-12">
              <div class="col-separator col-separator-first box col-unscrollable" style="
                  margin-left: 126px;
              ">

                    <!-- col-table -->
                    <div class="col-table" style="
    margin-left: 2px;
">

                      <div class="heading-buttons innerLR border-bottom" style="
                  background: rgb(198, 222, 246);
              ">
                        <h4 class="margin-none innerTB">Ações</h4>

                        <div class="clearfix"></div>
                      </div>

                      <!-- col-table-row -->
                      <div class="col-table-row">

                        <!-- col-app -->
                        <div class="col-app col-unscrollable">

                          <!-- col-app -->
                       <div class="col-app  hasNiceScroll" tabindex="5000" style="overflow-y: hidden; outline: none; background: rgb(51, 122, 183);">

                            <ul class="timeline-activity list-unstyled">

                      {{#each acoes}}
                           {{>acaoIncidenteView}}
                      {{/each}}
              </ul>



                          </div>
                          <!-- // END col-app -->

                        </div>
                        <!-- // END col-app -->

                      </div>
                      <!-- // END col-table-row -->



              </div>
                    <!-- // END col-table -->

    </div>


                                            </div>

                                          </div>
                                             {{/if}}

{{/if}}



                                                        <div class="form-group">
                                                              <label  class="col-sm-2 control-label"> </label>
                                                              <div class="col-sm-3">
                                                                  <input accept="image/*" id="fileinput" type="file"/>
                                                              </div>


                                                        </div>

                                                        <div class="form-group">
                                                            <div class="col-sm-offset-2 col-sm-10">
                                                                <button id="btnsave" type="submit" class="btn btn-primary">Salvar</button>
                                                                <button type="reset" class="btn btn-warning pull-right">Limpar</button>
                                                            </div>

                                                        </div>
                                                    </form>
                                             </div>




                                            </div>
                                        </div>

    </div>

	<div class="col-sm-2">



	</div>

{{/if}}
</template>
