<template name="solicitacao_env">
 {{#if currentUser}}
    <!-- col -->
	<div class="col-sm-2">

		{{>menuValidacao}}


	</div>
<div class="col-sm-8">

		<div class="col-separator box col-separator-first col-unscrollable">
			<div class="col-table">
      <div class="innerAll">
					<a href="{{pathFor 'solic_new'}}" class="btn btn-xs pull-right btn-primary"><i class="fa fa-plus fa-fw"></i> Nova Solicitação</a>
					<h4 class="margin-none">Solicitações Enviadas </h4>
					<div class="clearfix"></div>
               	<div class="bg-gray border-bottom innerAll">
								<div class="input-group input-group-sm">
							      	<div class="input-group-btn">
							        	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Busca <span class="caret"></span></button>

							      	</div>
							        {{> esInput index="solicitacoes" placeholder="Encontre uma solicitação ..." class="form-control input-sm" reactive=false timeout=20  }}
							    </div>
							</div>
		  </div>
				<div class="col-table-row">
					<div class="col-app col-unscrollable">
						<div class="col-app">


									<div class="col-separator-h box"></div>
							<div class="border-bottom">
								<ul class="timeline-activity list-unstyled">



                            {{#ifEsInputIsEmpty index="solicitacoes"}}

						     {{#each solicitacoes}}
                           {{>solicitacaoItem}}
                  {{/each}}

                {{/ifEsInputIsEmpty}}


								 {{#esEach  index="solicitacoes"}}
                      {{>solicitacaoItem}}



                  {{/esEach }}
                   {{#ifEsHasNoResults index="solicitacoes"}}
                          {{>resultadonf}}
                    {{/ifEsHasNoResults}}




			</ul>

		</div>




            </div>






          </div>







        </div>



      </div>



		</div>
	</div>

    <!-- col -->
	<div class="col-sm-2">



	</div>

{{/if}}
</template>