<template name="informacao">

  <!-- col -->
    <div class="col-sm-2">



    </div>
    <!-- // END col -->

    <!-- col -->
    <div class="col-sm-8">

    <div class="widget">
                                            <div class="widget-head"><h4 class="heading">Caro Usuário</h4></div>
                                            <div class="widget-body">
                                                <p> O Evento  não está  vigente, por esse motivo novos lançamentos  não poderão ser efetuados, verifique maiores informações com o adminstrador.</p>
                                            </div>
                                        </div>
    </div>


     <div class="col-sm-2">



    </div>
</template>