
<template name="baseLayout">
  
   	<div id="content">

    {{> menu}}
       
        <div class="layout-app">
          <div class="container">
            <div class="row row-app" id="home">
             {{#if currentUser}}  
                 {{>box}}  
              {{else}}
            
                  {{>footerLayout}}
             {{/if}}
                
              
                 {{> yield 'mainContent'}}
     
                <div id="fundo">
            <img src="/assets/images/blue.jpg" alt="">
            </div>
             </div>
           
          </div>
        
        </div>
      

   </div>  
  
     <div class="clearfix"></div>
    <div id="footer" class="hidden-print">
			
			<!--  Copyright Line -->
			<div class="copy">©  2014 <a href="">SisFesta</a> - Todos os Direitos Reservados </div>
			<!--  End Copyright Line -->
	
		</div>

</template>