<template name="produtividade_consolidada">
<section id="content">
          <section class="vbox">
            <header class="header bg-white b-b b-light">
              <p> <b>Dica:</b> Aqui você poderá visualizar o quantitativo da produtividade de todos os orgãos do determinado evento.</p>
            </header>
            <section class="scrollable">
              <section class="hbox stretch">

                <aside class="col-lg-12 b-l">
                  <section class="vbox">
                     <section class="scrollable">
                   <section class="hbox stretch">
                     <div id="tabelaProdutividadeConsolidada">

                     </div>
                     </section>
                     </section>
                  </section>
                </aside>

              </section>
            </section>
          </section>
          <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen, open" data-target="#nav,html"></a>
        </section>
</template>