<template name="protocolo_ls">
  {{#if currentUser}} 
  
  <!-- col -->
	<div class="col-sm-2">

		

	</div>
	<!-- // END col -->

	<!-- col -->
	<div class="col-sm-8">

		<!-- col-separator.box -->
		<div class="col-separator col-unscrollable box">
			
			<!-- col-table -->
			<div class="col-table">
				
			<div class="innerAll">
					<a href="{{pathFor 'new_protocolo'}}" class="btn btn-xs pull-right btn-primary"><i class="fa fa-plus fa-fw"></i> Novo Protocolo</a>
					<h4 class="margin-none">Protocolo</h4>
					<div class="clearfix"></div>
		</div>
				<!-- col-table-row -->
				<div class="col-table-row">

					<!-- col-app -->
					<div class="col-app col-unscrollable">

						<!-- col-app -->
						<div class="col-app">



							<div class="bg-gray border-bottom innerAll">
								<div class="input-group input-group-sm">
							      	<div class="input-group-btn">
							        	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Nome <span class="caret"></span></button>
							        	
							      	</div>
							        {{> esInput index="protocolos" reactive=false timeout=20  placeholder="Encontre um protocolo ..." class="form-control input-sm"   }}
							    </div>
							</div> 

							<div class="heading-buttons innerLR border-bottom">

								<div class="pull-right innerT half">
				
								</div>
							   	<div class="clearfix"></div>
							</div>
              	<div class="col-separator-h box"></div>

											
              						
              {{#ifEsInputIsEmpty index="protocolos"}}
                       
						     {{#each protocolos}}
                      {{>protocoloItem}}
                  {{/each}}
							
                {{/ifEsInputIsEmpty}}

						
								 {{#esEach  index="protocolos"}}
                      {{>protocoloItem}}
            


                  {{/esEach }}
                   {{#ifEsHasNoResults index="protocolos"}}
                          {{>resultadonf}}
                    {{/ifEsHasNoResults}}
								

													
						</div>
						<!-- // END col-app -->

					</div>
					<!-- // END col-app.col-unscrollable -->

				</div>
				<!-- // END col-table-row -->
			
		
                
                </div>
			<!-- // END col-table -->
			
		</div>
		<!-- // END col-separator.box -->

	</div>
	<!-- // END col -->
    
    <div class="col-sm-2">

		

	</div>

  {{/if}}
  
</template>