<template name="orgao_cr">
  {{#if currentUser}} 
	<div class="col-sm-2">

		

	</div>
	<!-- // END col -->

	<!-- col -->
	<div class="col-sm-8">

        				<!-- Widget -->
										<div class="widget widget-inverse" >

											<!-- Widget heading -->
											<div class="widget-head">
												<h4 class="heading">Novo Orgão</h4>
											</div>
											<!-- // Widget heading END -->
											
											<div class="widget-body">
												
											
                                                
                                                
                                                <div class="innerLR">
												
                                                  
                                                    {{#autoForm collection="Orgaos" id="orgao_cr" schema=orgaoSchema type="method" meteormethod="saveOrgao"}}
                                            
                                                      {{> afQuickField name='descricao'}}
                                                   
                                                      {{> afQuickField name='sigla'}}
                                              
                                                      {{> afQuickField name="fileId" type="cfs-file" collection="files"}}
                                                 
                                                     <button type="submit" class="btn btn-primary">Salvar</button>
                                                     <button type="reset" class="btn btn-default">Limpar</button>
                                                  {{/autoForm}}
                                             </div>

                                                
										
  
                                            </div>
                                        </div>
												
    </div>


        
        
        
	<!-- // END col -->
    
    <div class="col-sm-2">

		

	</div>
{{/if}}
</template>