<template name="signup">
  
   <label>Cadastrar</label>
  <form id="signup-form">
     
    <label>Login:</label>
    <input type="text" id="signup-username"  class="form-control" placeholder="Login...">
    
     <label>Email:</label>
    <input type="text" id="signup-email"  class="form-control" placeholder="Email...">

    <label>Senha:</label>
    <input type="password" id="signup-password"  class="form-control" placeholder="Senha...">
    
    <button type="submit" class="btn btn-primary"> Salvar</button>
    
  
  </form>
</template>