<template name="trocar_senha">
  {{#if currentUser}} 
  <!-- col -->
	<div class="col-sm-2">

		

	</div>
	<!-- // END col -->

	<!-- col -->
	<div class="col-sm-8">

        				<!-- Widget -->
										<div class="widget widget-inverse" >

     
											<!-- Widget heading -->
											<div class="widget-head">
												<h4 class="heading">Trocar Senha</h4>
											</div>
											<!-- // Widget heading END -->
											
											<div class="widget-body">
												
											
                                                
                                                
                      <div class="innerLR">
													<form id="usuario-form" class="form-horizontal" role="form">
                      <div class="form-group">
                               <label for="inputSenha" class="col-sm-2 control-label">Digite a senha </label>
                               <div class="col-sm-3">
                                 <input type="password" class="form-control" id="inputSenha" name="senha" required>
                               </div>
                    </div>
                            
                            <div class="form-group">
                               <label for="inputSenha2" class="col-sm-2 control-label">Repita a senha </label>
                               <div class="col-sm-3">
                                 <input type="password" class="form-control" id="inputSenha2" name="senha" required>
                               </div>
                    </div>
            
                <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                 <button type="submit" class="btn btn-primary">Salvar</button>
           
                            </div>
                                                             
                 </div>
          </form>
       </div>
    </div>
                      
 </div>
                      
                      
  </div>
  <div class="col-sm-1">

		

	</div>
{{/if}}

</template>