<template name="usuarioEventoItem">

    <div class="media contact">
                <a href="#" id="remove" class="btn-group pull-right btn-group-xs"><i class="fa fa-fw icon-circle-delete"></i></a>

                                <a class="pull-left" href="#"><img class="thumb" src="{{user.profile.image}}" width="50" alt="people"></a>
                                <div class="media-body">
                                    <ul class="list-unstyled">
                                        <li><a href="" class="strong"> <h4 class="media-heading text-info">{{user.profile.nome}} </h4></a></li>



                    </ul>

                                </div>

                            </div>
</template>