<template name="usuarioItem">

  	<div class="media contact">
							  	<a class="pull-left" href="#"><img class="thumb" src="{{profile.image}}" width="50" alt="people"></a>
							  	<div class="media-body">
							   		<ul class="list-unstyled">
							   	 	    <li><a href="{{pathFor 'edit_user' _idUser=_id}}" class="strong"> <h4 class="media-heading text-info">{{profile.nome}} </h4></a></li>
                         <li><i class="fa fa-bank"></i> {{orgao.descricao}}</li>


                    </ul>

							  	</div>
                        {{#if status}}

                           <button id="btnAtivar" class="btn btn-danger btn-xs pull-right">Ativar</button>
                         {{else}}
                          <button  id="btnDesativar" class="btn btn-success btn-xs  pull-right">Desativar</button>

                         {{/if}}
							</div>
</template>