<template name="relatorio_geral"> 
  
     {{#if currentUser}} 
    <!-- col -->
	<div class="col-sm-2">
      <form>
   <div class="col-separator col-separator-first hasNiceScroll" tabindex="5000" style="overflow-y: hidden; outline: none;">

			<h4 class="innerAll bg-gray margin-none">Período</h4>
			<ul class="list-group list-group-1 margin-none borders-none">
				<li class="list-group-item animated fadeInUp">
                    <input placeholder="Data Início" data-date-format="DD/MM/YYYY HH:mm" type="bootstrap-datetimepicker" class="form-control" id="dataCadastroInicio" name="dataCadastroInicio" required>
            </li>
        
        	    <li class="list-group-item animated fadeInUp">
                          <input  placeholder="Data Fim" data-date-format="DD/MM/YYYY HH:mm" type="bootstrap-datetimepicker" class="form-control" id="dataCadastroFim" name="dataCadastroFim" required>
            </li>
                <li class="list-group-item animated fadeInUp">
                  {{>selectOrgao}}
                   </li>
            <li class="list-group-item animated fadeInUp">
             <button id="btnpesquisanoticia" type="submit" class="btn btn-primary" style="width: 100%;margin-top: 10px;" >Pesquisar</button>
             
                <button id="btntrazertudo" class="btn btn-warning" style="width: 100%;margin-top: 10px;" >Retornar Tudo</button>
           </li>
			
				
			</ul>


		</div>
		
     <button id="btnExport" style="margin-left:30px;margin-top:20px" class="btn btn-success" href="javascript:void(0)"> Gerar Relatório </button>
      </form>
	</div>
<div id="conteudo" class="col-md-8">
  
	
	<div class="col-separator hasNiceScroll" tabindex="5001" style="overflow-y: hidden; outline: none;overflow-x: hidden">


    <div class="innerAll border-bottom media">
      <img id="logoSisFesta" width="600" src="/assets/images/logo-report.png" />

	</div>
 
			     	<div class="innerAll border-bottom tickets" >
				  
        <h1 >  Incidentes </h1>
			</div>
    
    
       {{#each incidentes}}
                 
         {{>incidente_item_rel}}
   
       {{/each}}
      

		
						
			
			
			<div class="innerAll border-bottom tickets" >
	       <h1 >  Considerações </h1>
		 	</div>
    
    
							 {{#each consideracoes}}
                        {{>relatorioConsideracaoItem}}
                    {{/each}}

 
      
      <div class="innerAll border-bottom tickets" >
				  
         
         			  
        <h1 >  Notícias </h1>
			</div>
     {{#each noticias}}
                 
         {{>relatorio_item_noticia}}
   
       {{/each}}
    
  
     
		</div>

   
   	
            
                                                   
                
		</div>

    <!-- col -->
	<div class="col-sm-2">

		

	</div>

{{/if}}
</template>